[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
dateparser = "*"

[requires]
python_version = "3.11"
